<template>
    <div>
        <div class="container">
            <div class="row justify-content-center mt-5">
                <div class="col-md-7">
                    <div class="card">
                        <div class="card-header">Todo List</div>

                        <div class="card-body">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Todo..." aria-label="todo" v-model="todo_input">
                                <div class="input-group-append">
                                    <button v-if="!edit_todo_id" type="button" class="btn btn-info text-white" @click="insertTodo">Add</button>
                                    <button v-else type="button" class="btn btn-info text-white" @click="updateTodo">Update</button>
                                    <button type="button" class="btn btn-secondary text-white" @click="resetTodo">Clear</button>
                                </div>
                            </div>
                            <table class="table table-bordered mt-4">
                                <thead>
                                    <th>No</th>
                                    <th>Name</th>
                                    <th>Action</th>
                                </thead>
                                <tbody v-if="todos.length > 0">
                                    <tr v-for="(todo, index) in todos" :key="index">
                                        <td class="text-center">{{ ++index }}</td>
                                        <td>{{ todo.name }}</td>
                                        <td class="text-center">
                                            <button type="button" class="btn btn-sm btn-warning" @click="editTodo(--index)">Edit</button>
                                            <button type="button" class="btn btn-sm btn-danger" @click="deteleTodo(--index)">Delete</button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody v-else>
                                    <tr class="text-center">
                                        <td colspan="3">Không có dữ liệu được tạo</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    export default {
        data() {
            return {
                todos: [],
                api: 'http://127.0.0.1:8000/api/todos',
                todo_input: '',
                edit_todo_id: '',
                edit_index: '',
            }
        },
        mounted() {
            //Get api data
            this.axios.get(this.api).then(res => {
                //console.log(res);
                this.todos = res.data;
            });
        },
        methods: {
            insertTodo: function() {
                // console.log(this.todo_input);
                if (this.todo_input.length > 0) {
                    let data = {'name': this.todo_input};
                    this.axios.post(this.api, data).then(res => {
                        // console.log(res);
                        this.todos.push(res.data);
                        this.todo_input = '';
                    });
                }
            },
            deteleTodo: function(index) {
                //console.log(this.todos[index].id);
                if (this.todos[index].id) {
                    this.axios.delete(this.api +'/'+ this.todos[index].id).then(res => {
                        //console.log(res);
                        this.todos.splice(index, 1);
                    });
                }
            },
            editTodo: function(index) {
                if (this.todos[index].id) {
                    this.todo_input = this.todos[index].name;
                    this.edit_todo_id = this.todos[index].id;
                    this.edit_index = index;
                }
            },
            updateTodo: function() {
                if (this.todo_input.length > 0) {
                    let data = {'name': this.todo_input};
                    this.axios.patch(this.api +'/'+ this.todos[this.edit_index].id, data).then(res => {
                        //console.log(res.data);
                        this.todos[this.edit_index].name = res.data.name;
                        this.resetTodo();
                    });
                }
            },
            resetTodo: function() {
                this.todo_input = '';
                this.edit_index = '';
                this.edit_todo_id = '';
            }
        }
    }
</script>
<style scoped>
    thead th {
        text-align: center;
    }

    td {
        vertical-align: middle;
    }
</style>

