<template>
    <div>
        <div class="navbar">
            <div class="dashboard" v-if="isLoggedIn">
                <li class="navbar-nav">
                    <router-link class="nav-link" to="/dashboard">Dashboard</router-link>
	            </li>
                <!-- <li class="navbar-nav">
                    <router-link class="nav-link" :to="{ name : 'TodoList'}">Todo List</router-link>
                </li> -->
                <li class="navbar-nav">
                    <button class="btn btn-secondary text-white pl-3 pr-3 btn-sm" @click="logout()">
                        Logout
                    </button>
                </li>
            </div>
            <div v-else class="home">
                <li class="navbar-nav"><router-link :to="{ name: 'Home' }">Home</router-link></li>
                <li class="navbar-nav"><router-link :to="{ name: 'Login' }">Login</router-link></li>
                <li class="navbar-nav"><router-link :to="{ name: 'Register' }">Register</router-link></li>
            </div>
        </div>
        <router-view />
    </div>
</template>

<script>
export default {
    name: 'App',
    data() {
        return {
            user: '',
        };
    },
    computed: {
        isLoggedIn: function () {
            return this.$store.getters.isLoggedIn;
        },
    },
    created() {
        if (this.isLoggedIn) {
            this.$store.dispatch("getUser");
        }
    },
    methods: {
        async logout() {
            await this.$store.dispatch("logout");
            this.$router.push("/login");
        },
    },
};
</script>

<style scoped>
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.home {
    display: contents;
}

.home .navbar-nav {
    padding: 5px 20px;
    margin: 5px;
}

.dashboard {
    display: contents;
}
.dashboard .navbar-nav {
    margin: 5px;
}
a {
    text-decoration: none;
}
</style>

